<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
				<!--<rewrite>    
					<rules>    
						<rule name="Force HTTPS" enabled="true">    
						 <match url="(.*)" ignoreCase="false"/>    
						 <conditions>    
							<add input="{HTTPS}" pattern="off"/>    
						 </conditions>    
						 <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>    
						</rule>    
					</rules>    
				</rewrite>-->
        <defaultDocument>
            <files>
                <remove value="index.asp" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" />
        <staticContent>
						<remove fileExtension=".woff" />
						<remove fileExtension=".woff2" />
					  <remove fileExtension=".webmanifest" />
            <mimeMap fileExtension=".woff" mimeType="fonts/woff" />
            <mimeMap fileExtension=".woff2" mimeType="fonts/woff2" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/x-web-app-manifest+json" />
        </staticContent>
    </system.webServer>
	  <system.web.extensions>
			 <scripting>
					 <webServices>
							 <jsonSerialization maxJsonLength="50000000"/>
					 </webServices>
			 </scripting>
	  </system.web.extensions>
</configuration>
